<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
  <title>Pokedex</title>
</head>
  <body>
    <header>
      <div class ="header">
      <h1>Pokedex</h1>
 
    </div>
      <button><a href="/new">Add Pokemon</a></button>
    </header>
    <div class="container">
        <% for (let i = 0; i < Pokemon.length; i++) { %>
      <div class="pokemon-container">
        <a class="poke-img-link" href="/<%=Pokemon[i]._id%>"><img src=<%=Pokemon[i].img%>></img></a>
      </div>
    <% } %>
    </div>
  </body>
</html>